$component: 'island';

.#{$component} {
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;



  &__item {
    padding: 0.5rem;
    background-color:grey;


    h4,
    time {
      pointer-events: none;
    }



      &.active{
        background-color:hotpink;
    }

  }



  &__item+&__item {
    border-top: 1px solid lightgrey;


  }





}




